/* Que coisa mais linda isso! */
/* As cores do site são da minha marca (Instagram) */
/* Editei foto e logos das redes sociais */

*{
    box-sizing: border-box;
}
body{
    background: #f3dfc1;
    font-family: 'Raleway', Arial, Helvetica, sans-serif; 
}
.banner{
    background-image: url(../image/dani_karasawa.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 94vh;
    position: relative;
    text-align: left;
    color: white;
    padding-top: 20rem;
    margin: 0;
}
.title{
    margin-top: 0;
    margin-left: 5vh;
}
.sub-title{
    margin-top: 0;
    margin-left: 19vh;
}
.veja-mais{
    font-size: 10px;
    font-weight: bold;
    background-color: white;
    color: purple;
    border-radius: 1rem;
    padding: 8px 18px;
    margin-left: 24vh;
}
.infos{
    max-width: 1100px;
    margin: 0 auto;
    display: block;
}
.highlights{
    font-size: 25px;
    color: #661466;
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.para{
    width: 40%;
    display: inline-block;
    margin-left: 50px;
}
.para1{
    font-size: 20px;
}
.para2{
    font-size: 15px;
}
.skills{
    font-size: 18px;
    color: #661466;
    text-align: left;
    margin-left: 30px;
}
.list{
    font-size: 14px;
    width: 45%;
    display: inline-block;
    margin-left: 50px;
}
ul{
    font-size: 12px;
    line-height: 20px;
}
.cv{
    font-size: 10px;
    font-weight: bold;
    background-color: #fccbfc;
    color: #661466;
    border-radius: 1rem;
    padding: 10px 20px;
    margin-left: 23vh;
    font-style: none;
}
.social-media{
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
.quadradinho-roxo{
    background: #ddbea8;
    text-align: center;
    color: #cc99cc;
    border-radius: 1rem;
    padding: 10px 25px;
    width: 180px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: white;
}
h4{
    color:#661466;
}
.link-text{
    color:#472d47;
}
.icon{
    width: 50%;
}
.rodape{
    font-size: 10px;
    text-align: center;
    color: #472d47;
    margin-top: auto;
}